<body>
    <div class="Main-container">
        <app-nav-amdmi></app-nav-amdmi>
        <div class="container-elements">
            <div class="wrap-register">
                <div class="col-md-3" *ngFor="let curso of listCursos">
                    
                    <app-curse [idCurso]="curso.idCurso" 
                    [nombreInstitucion]="curso.nombreInstitucion" 
                    [grupoCurso]="curso.grupoCurso" 
                    [nombreCurso]="curso.nombreCurso" 
                    [fondo]="curso.fondo" 
                    [idProfesor]="curso.idProfesor" 
                    [estadoCurso]="curso.estadoCurso" 
                    ></app-curse>

                </div>

            </div>
        </div>
    </div>



</body>